.fileInput{
    display: none;

}

.wrapper{
    margin-left: 280px;
    margin-top: 10px;
    font-size: 20px;
}
.field{
    padding: 5px;
}
.btn{
    margin-left: 12px;
}
.file-upload{
    padding-top: 10px;
}
