<app-sidebar>

</app-sidebar>
<!--Main layout-->
<div class="wrapper">
  <div class="form-div">
    <form class="form" action="" method="post" enctype="multipart/form-data" #data = 'ngForm' >
     <div class="field">
       <label for="csv">Upload your CSV File: </label> <br> <br>
        <input type="file" class="fileInput" ngModel name="csvFile" (change)="onFileSelected($event)" #upload>
        {{fileName || "No file uploaded yet."}}
        <br>
       <div class="file-upload">
        <img src="./assets/img/file-upload-img.png" alt="" height="200px" (click)="upload.click()" >
        
       </div>
      </div>
      <br>
       <div class="field">
        <mat-form-field appearance="fill" >
          <mat-label>Periodicity</mat-label>
          <select matNativeControl required name="periodicity" ngModel (click)="onPeriodSelected($event)">
            <option value="Months">Months</option>
            <option value="Weeks">Weeks</option>
            <option value="Days">Days</option>
          </select>
        </mat-form-field>
  
       </div>
      
       <div class="field">
        <mat-form-field>
          <mat-label>Enter Number of {{val}}</mat-label>
          <input name="number" matInput ngModel required>
        </mat-form-field>
       
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="save(data)" class="btn"> Submit </button>
      
    </form>
   
    
  </div>
</div>


